# Environemental variables
python-dotenv

# Portal UI framework
nicegui

# Database
sqlalchemy
pymysql

# Cryptography support
cryptography
bcrypt

# Image processing
pypylon
pillow
opencv-python

# Minio blob storage SDK
minio  

# GPIO
SimulRPi  # Used for simulation mode, RPi.GPIO should be available in production (in case of deployment to RaspberryPi)

# OCR
pytesseract